<!DOCTYPE html>
<html lang="en">
	<head>
	    <title>Laughing Matters | <%= title %></title>
	    <meta charset="utf-8"> 
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />	
	    <% include ../partials/css.ejs %>
	</head>
	<body ng-app="matters-app" <% if (environment  !== 'production') { %> ngStrictDi <% } %>>
		<% include ../partials/off-canvas.ejs %>
		<div id="matters-main" class="container">
		 	<div class="row">
		 		<div class="col-xs-12">
			 		<%- body %>
			 	</div>
		 	</div>
	    </div>
	</body>
	<% if (showFooter) { %>
		<% include ../partials/footer.ejs %>
	<% } %>
	<% include ../partials/modals.ejs %>
	<% include ../partials/application.ejs %>
</html>
